<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.xfg.frame.infrastructure.dao.RuleTreeNodeDao">

    <resultMap id="ruleTreeNodeMap" type="cn.bugstack.xfg.frame.infrastructure.po.RuleTreeNodePO">
        <id column="id" property="id"/>
        <result column="tree_id" property="treeId"/>
        <result column="node_type" property="nodeType"/>
        <result column="node_value" property="nodeValue"/>
        <result column="rule_key" property="ruleKey"/>
        <result column="rule_desc" property="ruleDesc"/>
    </resultMap>

    <select id="queryRuleTreeNodeList" resultMap="ruleTreeNodeMap">
        SELECT id, tree_id, node_type, node_value, rule_key, rule_desc
        FROM rule_tree_node
        where tree_id = #{treeId}
    </select>

    <select id="queryTreeNodeCount" resultType="java.lang.Integer">
        select count(id) from rule_tree_node where tree_id = #{treeId}
    </select>

    <select id="queryTreeRulePoint" resultMap="ruleTreeNodeMap">
        SELECT distinct (rule_key), rule_desc
        FROM rule_tree_node
        where tree_id = #{treeId} and rule_key is not null
    </select>

</mapper>
